*.o
*.exc
tags
data/*
*.html
*.swp
CMakeCache.txt
CMakeFiles/*
Makefile
!WordNet/dict/Makefile
!WordNet/doc/Makefile
!WordNet/doc/html/Makefile
!WordNet/doc/man/Makefile
!WordNet/doc/pdf/Makefile
!WordNet/doc/ps/Makefile
!WordNet/doc/html/*.html
!WordNet/dict/*.exc
!WordNet/include/Makefile
!WordNet/include/tk/Makefile
cmake_install.cmake
libs/*

